@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-manrope: "Manrope", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-navy antialiased;
  }
}
